body {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* ------------------For fixing white sidebar in mobile view-------------> */
@media (max-width: 56.25em) {
  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }
}

/* -------------------------------Splash animation--------------------------- */
.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 40vh;
  background: #070a27;
  z-index: 200;
  color: #ccc;
  text-align: center;
  line-height: 90vh;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: -10;
  color: #ccc;
  text-align: center;
  line-height: 90vh;
  transition: all 4s ease;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

#splash_logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3s;
}

@media (max-width: 56.25em) {
  #splash_logo {
    max-width: 80%;
  }
  .fade-in {
    margin-left: 40px;
    width: 50px;
  }
}

#splash_logo path:nth-child(1) {
  stroke-dasharray: 493;
  stroke-dashoffset: 493;
  animation: line-anim 2s ease forwards;
}

#splash_logo path:nth-child(2) {
  stroke-dasharray: 802;
  stroke-dashoffset: 802;
  animation: line-anim 2s ease forwards 0.3s;
}

#splash_logo path:nth-child(3) {
  stroke-dasharray: 490;
  stroke-dashoffset: 490;
  animation: line-anim 2s ease forwards 0.6s;
}

#splash_logo path:nth-child(4) {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: line-anim 2s ease forwards 0.9s;
}

#splash_logo path:nth-child(5) {
  stroke-dasharray: 605;
  stroke-dashoffset: 605;
  animation: line-anim 2s ease forwards 1.2s;
}

#splash_logo path:nth-child(6) {
  stroke-dasharray: 227;
  stroke-dashoffset: 227;
  animation: line-anim 2s ease forwards 1.5s;
}

#splash_logo path:nth-child(7) {
  stroke-dasharray: 310;
  stroke-dashoffset: 310;
  animation: line-anim 2s ease forwards 1.8s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #68ffd2;
  }
}

/* ---------------------------------------------------------------------------- */

#particles-js {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(img/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.user-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-box img {
  border-radius: 25%;
  width: 250px;
  border: 2px solid #ced4db;
}

.user-box h1 {
  color: #fff;
  font-weight: bold;
  margin: 10px;
  letter-spacing: 3px;
}

.user-box p {
  color: #fff;
}

@media screen and (max-width: 56.25em) {
  .user-box img {
    border-radius: 25%;
    width: 250px;
    border: 2px solid #ced4db;
  }
  .user-box h1 {
    color: rgba(174, 238, 243, 0.9);
    font-weight: bold;
    margin: 10px;
    font-size: 55px;
  }

  .user-box p {
    color: #fff;
    font-size: 20px;
  }
}

.scroll-btn {
  bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1.5px solid #fff;
  padding: 10px 10px 20px;
  border-radius: 30px;
}

.scroll-bar span {
  border: 3px solid #fff;
  font-size: 10px;
  border-radius: 30px;
}

.scroll-bar {
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(12px);
  }
}

.about {
  padding-top: 70px;
  margin-bottom: -130px;
}

.hack {
  height: 400px;
  padding-right: 300px;
}

.col-md-6 h3 {
  margin-top: 40px;
  font-size: 3rem;
  padding-bottom: 5px;
  letter-spacing: 3px;
}

.exp {
  transform: skewY(5deg);
}

.composition {
  position: relative;
  transform: skewY(5deg);
  margin-top: 15vh;
}
.composition__photo {
  width: 50%;
  -webkit-filter: drop-shadow(1px 1px 2px #222);
  filter: drop-shadow(1px 1px 2px #222);
  border-radius: 2px;
  z-index: 10;
  transition: all 0.2s;
  position: absolute;
}
@media screen and (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 28.333333%;
  }
}
.composition__photo--p1 {
  left: 66%;
  top: 0;
  width: 30%;
}
@media screen and (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 0;
    left: 0;
    width: 33%;
  }
}
.composition__photo--p2 {
  left: 50%;
  top: 150px;
  width: 30%;
}
@media screen and (max-width: 56.25em) {
  .composition__photo--p2 {
    top: 0;
    left: 0;
    width: 33%;
    z-index: 100;
  }
}
.composition__photo--p3 {
  left: 15%;
  top: 150px;
  width: 28%;
}
@media screen and (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 0;
    left: 0;
    width: 33%;
  }
}

.composition__photo--p4 {
  left: 0%;
  top: 50%;
  width: 28%;
}
@media (max-width: 56.25em) {
  .composition__photo--p4 {
    top: 0;
    left: 0;
    width: 33%;
  }
}

.composition__photo--p5 {
  left: 33%;
  top: 50%;
  width: 28%;
}
@media screen and (max-width: 56.25em) {
  .composition__photo--p5 {
    top: 0;
    left: 0;
    width: 33%;
  }
}
.composition__photo:hover {
  transform: scale(1.1) translateY(0.2rem);
  -webkit-filter: drop-shadow(1.5px 1.5px 4px #222);
  filter: drop-shadow(1.5px 1.5px 4px #222);
  z-index: 20;
}

.skill-heading {
  text-align: center;
  transform: skewY(5deg);
  margin-top: 50px;
}

.col-md-6 p {
  font-size: 18px;
}

.underline {
  position: relative;
  width: 10rem;
  height: 0.4rem;
  margin-left: 8px;
  margin-bottom: 3rem;
  background: #8ab7cf;
  margin-right: auto;
}

.underline_a {
  width: 10rem;
  height: 0.4rem;
  margin-left: auto;
  margin-bottom: 3rem;
  background: #8ab7cf;
  margin-right: auto;
}

.underline_p {
  width: 6rem;
  height: 0.4rem;
  margin-left: auto;
  margin-bottom: 3rem;
  background: #8ab7cf;
  margin-right: auto;
}

/* ----------------Resume BTN------------------- */
.example_a {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #8ab7cf;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.example_a:hover {
  background: #434343;
  letter-spacing: 1px;
  text-decoration: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

/* ----------------------------------------------------- */
.nav-bar {
  top: 0;
  position: sticky;
  z-index: 2;
}

.navbar {
  background-color: hsl(216deg 100% 90%);
  padding: 0 !important;
}

.navbar-brand img {
  height: 30px;
  margin-left: 15px;
}

.nav-bar .fa-bars {
  font-size: 30px;
  color: #fff;
}

.navbar-toggler {
  outline: none !important;
}

.navbar-nav {
  float: right;
  text-align: right;
}

.nav-link {
  color: #545b62 !important;
}

.skills-bar p {
  margin-top: 40px;
  margin-bottom: 6px;
  font-weight: 400;
  font-family: monospace;
}

.skills-bar {
  padding-left: 35px;
  margin-top: -50px;
}

.skills-bar h3 {
  text-align: center;
  transform: skewY(5deg);
}

.progress {
  margin-top: 25px;
  border-radius: 16px !important;
  margin-bottom: 10px;
  transform: skewY(5deg);
  background-color: #545a61 !important;
}

@media (max-width: 56.25em) {
  .progress {
    max-width: 90%;
  }
}

.progress-bar {
  border-radius: 16px;
  background: #9b75f7 !important;
}

.resume {
  margin-top: -50px;
  padding-top: 10px;
  padding-bottom: 90px;
  background: hsl(216deg 100% 95%);
  transform: skewY(-5deg);
}

.resume h3 {
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.resume p {
  font-size: 15px;
  transform: skewY(5deg);
}
.timeline {
  list-style-type: none;
  position: relative;
}

.timeline:before {
  content: "";
  background: #555;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 1;
}

.timeline li {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #fff;
}

.timeline h4 {
  background-color: #000;
  padding: 5px 0 5px 20px;
  color: #fff;
  font-size: 15px;
}

.timeline li h4 span {
  font-weight: bold;
  color: #ccc;
}

.timeline li:before {
  content: "";
  background: #fff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #000;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.services {
  margin-top: -50px;
  background: #e5f0ff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.services h1 {
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.services-box {
  background: #fff;
  padding: 10px;
  margin-top: 20px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.services-box .fa {
  margin: 0 10px;
  font-size: 20px;
}

.services-box span {
  margin: 3px;
  font-size: 20px;
  font-weight: bold;
}

.services-box p {
  font-size: 15px;
  margin-top: 20px;
  color: #777;
}

.services-box:hover {
  background: rgb(18, 18, 53);
  color: #fff;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: 1s;
}

.services-box:hover p {
  color: #fff;
}
/*---------------Cintact------------*/

.contact {
  padding-top: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.contact .row {
  padding: 30px 0;
  font-size: 22px;
}

.contact .col-md-4 .fa {
  padding: 10px;
  font-size: 40px;
}

.contact .btn {
  padding: 10px 25px 10px 25px;
  margin: 5px;
  border-radius: 30px;
  border: 2px solid #fff;
  background: transparent;
}

.contact .btn:focus {
  box-shadow: none !important;
}

.contact .btn:hover {
  border: 2px solid #000 !important;
  background: #000 !important;
  transition: 0.6s;
}

.contact .btn .fa {
  margin-right: 10px;
}

.footer {
  height: 50px;
  margin-top: 50px;
  color: #fff;
  padding-top: 10px;
}

.fa-heart-o {
  color: red;
}

.social-icons {
  top: 50%;
  transform: translateY(-50%);
  position: sticky;
  z-index: 1;
  width: 50px;
}

@media (max-width: 56.25em) {
  .social-icons {
    display: none;
  }
}

.social-icons ul {
  padding: initial;
}

.social-icons ul li {
  height: 40px;
  width: 35px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  list-style-type: none;
  padding-left: 10px;
  padding-top: 6px;
  margin-top: 5px;
  color: #f1f1f1;
  background: #58affb59;
}

.social-icons ul li:hover {
  padding-left: 30px;
  width: 60px;
  transition: 1s;
}

.social-icons ul li:nth-child(1):hover {
  background: #0e76a8;
}

.social-icons ul li:nth-child(2):hover {
  background: #00acee;
}

.social-icons ul li:nth-child(3):hover {
  background: #333;
}

.social-icons ul li:nth-child(4):hover {
  background: #e1306c;
}

.social-icons ul li:nth-child(5):hover {
  background: #3b5998;
}

#allhack {
  width: 400px;
  margin: 10% auto;
  display: block;
}

#idea {
  animation: idea 0.5s infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes idea {
  0% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

#Cpp {
  animation: Cpp 1s infinite alternate;
}

@keyframes Cpp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(12px);
  }
}

#Flame {
  animation: Flame 1s infinite alternate;
}

@keyframes Flame {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(12px);
  }
}

#Group_2 {
  animation: Group_2 1s infinite alternate;
}

@keyframes Group_2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(12px);
  }
}

#python {
  animation: python 1s infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes python {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(30deg);
  }
}

@media (max-width: 56.25em) {
  #whoami {
    margin-bottom: 9rem;
  }
}

/* ------------------Old Project layout hover turn effect-------------- */

/* .middle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  top: 50%;
  width: 300px;
  height: 25rem;
  border: none !important;
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: absolute;
  transition: all 0.8s ease !important;
}

.front img {
  height: 100%;
}

.front {
  transform: perspective(150rem) rotateY(0deg);
}

.back {
  background: #f9f9f9;
  transform: perspective(150rem) rotateY(180deg);
  font-size: 17px;
  padding-bottom: 250px;
}

.back h2 {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 25%;
}

.back span {
  font-size: 15px;
  margin-bottom: 30px;
  margin-right: 5px;
}

.back-content {
  color: #2c3e50;
  text-align: center;
  width: 90%;
  margin-top: 15px;
}

.sm {
  margin: 20px 0;
}

.sm .fa {
  margin: 0 10px;
  font-size: 40px;
}

.sm a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%;
}

.sm a:hover {
  background: #2c3e50;
  color: white;
}

.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}*/

.projects {
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects h1 {
  margin-bottom: 15px;
  letter-spacing: 4px;
}

.projects p {
  margin-bottom: 35px;
}

/*--------------New Project-----------------------*/

/* html {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
} */

.project-body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  padding: 0 1.5rem;
}

.project-post {
  margin-top: 6rem;
  margin-left: auto;
  width: 90%;
  max-width: 98rem;
  padding-right: -4rem;
  padding: 2rem 3rem;
  background-color: #ffffff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  align-items: center;
  display: flex;
  border-radius: 0.8rem;
}

.project-post__info {
  margin-left: -60px;
}

.project-post__img {
  min-width: 35rem;
  max-width: 35rem;
  height: 20rem;
  transform: translateX(-8rem);
  position: relative;
}

.project-post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.project-post__img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgba(79, 172, 254, 0.9),
    rgba(0, 241, 254, 0.158)
  );
  box-shadow: 0.5rem 0.5rem 0.3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
}

.project-post__img:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  box-shadow: 0.5rem 0.5rem 0.3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
}

.project-post__title {
  font-size: 1.8rem;
  margin: 0 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}

.project-post__text {
  margin-bottom: 3rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.project-post__buttons {
  display: flex;
}

.project-post__cta {
  display: inline-block;
  padding: 0.7rem 2rem;
  margin-left: 20px;
  letter-spacing: 1px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}

.project-post__cta:hover {
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
  text-decoration: none !important;
  color: white;
}

@media screen and (max-width: 1068px) {
  .project-post {
    max-width: 80rem;
    width: 95%;
    /* margin-left: 5rem; */
  }

  .project-post__img {
    min-width: 30rem;
    max-width: 30rem;
  }
}

@media screen and (max-width: 868px) {
  .project-post {
    max-width: 70rem;
  }
}

@media screen and (max-width: 768px) {
  .project-post {
    padding: 2.5rem;
    flex-direction: column;
  }

  .project-post__img {
    min-width: 100%;
    max-width: 100%;
    margin-top: 90px;
    transform: translate(0, -8rem);
  }

  .project-post__info {
    margin-left: 0px;
    margin-top: -50px;
  }
}

/*------------------------------------------------*/
.showbtn {
  padding: 20px 25px 55px 25px;
  text-align: center;
}

.container .btn {
  text-align: center;
  margin: 5rem auto 0;
  margin-top: 3rem;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  align-self: start;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 0.5rem 1.2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  border-radius: 0.8rem;
  background: #8ab7cf;
}

.container .btn:hover {
  border: 2px solid #000 !important;
  background: rgb(18, 18, 53) !important;
  transition: 0.6s;
}

.projects .btn {
  text-align: center;
  margin: 5rem auto 0;
  margin-top: 5rem;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  align-self: start;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 0.5rem 1.2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
  border-radius: 0.8rem;
  background: #8ab7cf;
}

.projects .btn:focus {
  box-shadow: none !important;
}

.projects .btn:hover {
  border: 2px solid #000 !important;
  background: rgb(18, 18, 53) !important;
  transition: 0.6s;
}

.projects .btn .fa {
  margin-right: 10px;
}

/* -----------------------Blog Posts-------------------------- */

.blogcontainer {
  padding: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

#blog {
  margin-top: 3rem;
  letter-spacing: 3px;
}

.blogcontainer .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.blogcontainer .card:hover {
  height: 380px;
}

.blogcontainer .card .imgBx {
  position: relative;
  width: 260px;
  height: 145px;
  top: -60px;
  left: 5px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.blogcontainer .card .imgBx img {
  max-width: 100%;

  border-radius: 4px;
}

.title {
  font-size: 30px;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  color: darkblue;
  font-family: monospace;
  letter-spacing: 4px;
  box-shadow: 1px 1px 3px #6c757d;
}

.blogcontainer .card .content {
  position: relative;
  margin-top: -150px;
  padding: 40px 10px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.blogcontainer .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.project-post__cta {
  display: inline-block;
  padding: 0.7rem 2rem;
  margin-left: 20px;
  letter-spacing: 1px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}

/* --------------------------Footer social icons--------------------------- */

.footer-icons ul {
  margin-top: 1.5rem;
  text-align: center;
}
.footer-icons ul li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-left: -10px;
}
.footer-icons ul li .fa {
  font-size: 23px;
  line-height: 40px;
  transition: 0.6s;
  color: #a8b2d1;
}
@media (min-width: 56.25em) {
  .footer-icons {
    display: none;
  }
}

@media (max-width: 56.25em) {
  .footer {
    height: 50px;
    margin-top: 0;
    color: #fff;
    padding-top: 10px;
  }
}

#theme-btn {
  background: none;
  border: none;
}

span.theme-svg {
  background: url(https://www.flaticon.com/svg/static/icons/svg/740/740879.svg)
    no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-top: 3px;
  vertical-align: middle;
}

/* -------------------Toggle Switch------------------- */
.dark-mode {
  background-color: rgb(21, 22, 52);
  color: #dfd1b7;
  transition: 0.5s;
}

.dark-resume-tool {
  background-color: #1d0c52;
  color: #57e6ff;
  transition: 0.5s;
}

.dark-services-box {
  background-color: #545b62;
  color: rgba(255, 255, 255, 0.74);
  transition: 0.5s;
}

.dark-project {
  background-color: #212529;
  color: rgba(255, 255, 255, 0.74);
  transition: 0.5s;
}

.dark-project-text {
  color: #00f2fe;
}

/* .dark-navbar {
  color: #262525 !important;
} */

.dark-btn {
  content: "Brighten Up";
}
